:root {
    --color-primary: #08a6e4;
    --color-primary-shadow: rgba(7, 172, 230, 0.16);
    --color-redish: #fb3b64;
    --color-green: #55dfb4;
    --color-black: #000000;
    --color-white: #ffffff;
    --color-grey: #a5a5a5;
    --color-light-grey: #f7f7f7;
    --button-radius: 35px;
    --font-raleway: "Raleway", sans-serif;
    --font-open-sans: "Open Sans", sans-serif;
}

* {
    box-sizing: border-box;
}

body {
    font-family: var(--font-open-sans);
}

a {
    text-decoration: none;
}

.container {
    width: 1352px;
    margin: 0 auto;
}

/* header style */
.header {
    height: 70px;
    background-color: var(--color-white);
    box-shadow: 0px 3px 6px #00000029;
}

.header_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;

}

.logo {
    color: var(--color-primary);
    font-size: 32px;
    line-height: 37px;
    font-weight: 300;
    font-family: var(--font-raleway);
}

.page-nav-list {
    display: flex;
}

.nav_link {
    color: var(--color-grey);
    font-size: 11px;
    line-height: 15px;
    letter-spacing: 3.28px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 28px 18px 22px;

    border-bottom: 4px solid transparent;
}

.nav_link:hover {
    color: var(--color-black);
    border-color: var(--color-primary);
}

.page-nav-list li {
    padding: 0 26px;
}

.page-nav-list li:last-child {
    padding-right: 0;
}

/* section welcoming */
.first_section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.first_section_opening {
    margin-top: 130px;
    text-align: center;
}

.opening_title {
    font-size: 49px;
    line-height: 57px;
    font-family: var(--font-raleway);
    font-weight: normal;

}

.opening_text {
    font-size: 16px;
    line-height: 22px;
    margin-top: 20px;
    margin-bottom: 38px;
}

.btn {
    font-size: 16px;
    color: var(--color-white);
    display: inline-block;
    font-weight: bold;

    padding: 16px 65px;
    border-radius: var(--button-radius);
}

.btn_primary {
    background-color: var(--color-primary);
    box-shadow: 5px 10px 14px var(--color-primary-shadow);
}

.btn_bigger {
    padding: 22px 157px;
}

.opening_image {
    width: 100%;
    height:100%;
}